body {
  background-color: white;
}

p {
  /* T R B L */
  margin: 0px 50px 50px 50px; 
  color: gray;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}


.shiny-text-output {
  /* T R B L */
  margin: 0px 50px 25px 50px; 
  color: midnightblue;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.above-plot {
  /* T R B L */
  margin: 0px 50px 25px 50px; 
  color: black;
  font-weight: normal;
  font-size: 18px;
}

.no-indent {
  margin: 0px; 
  color: dimgray;
  font-size: 15px;
}

.net-text {
  /* T R B L */
  margin: 50px 50px 0px 50px; 
  color: midnightblue;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  /* TB LR */
  margin: 50px 50px;
}


h1{
  margin: 50px 50px 40px 50px;
}

.p {
  /* T R B L */
  margin: 0px 50px 50px 50px; 
  color: gray;
  font-size: 18px;
  text-align: left;
}

.p-mini {
  /* T R B L */
  margin: 25px 50px 25px 50px; 
  color: gray;
  font-size: 15px;
}

.caption {
  margin: -45px 50px 25px 50px;
  color: slateblue;
  font-style: italic;
}
